services:
    telegram-bot:
        build:
            context: ..
            dockerfile: src/telegram_bot/WebApi/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_HTTPS_PORT=8081
            - ASPNETCORE_HTTPS_PORTS=8081
            - ASPNETCORE_HTTP_PORTS=8080
            - ASPNETCORE_URLS=https://+:8081;http://+:8080
            - ASPNETCORE_Kestrel__Certificates__Default__Password=${LOCAL_CERT_PASSWORD}
            - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
            - ConnectionStrings__DefaultConnection=Server=db;Database=TelegramForwardly;User Id=sa;Password=${MSSQL_SA_PASSWORD};TrustServerCertificate=True;
        volumes:
            - ./certs:/https/
        ports:
            - "8081:8081"
            - "8080:8080"
        depends_on:
            - db

    db:
        image: mcr.microsoft.com/mssql/server:2022-latest
        environment:
            - ACCEPT_EULA=Y
            - SA_PASSWORD=${MSSQL_SA_PASSWORD}
        volumes:
            - db_data:/var/opt/mssql
        ports:
            - "1433:1433"

volumes:
    db_data: